@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Teko:wght@300..700&display=swap');

body {
  font-family: 'Teko', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f0f0;
  margin: 0;
}

h1 {
  color: #333;
  margin-bottom: 20px;
}

.scoreboard {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 600px;
  margin-bottom: 20px;
}

.score h2 {
  font-size: 24px;
  color: #333;
  margin: 0;
}

.choices {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 600px;
  margin-bottom: 20px;
}

.choices img {
  width: 100px;
  height: 100px;
  padding: 20px;
  cursor: pointer;
  transition: transform 0.2s;
  background-color: grey;
  border-radius: 15%;

}

.choices img:hover {
  transform: scale(1.1);
}

#result {
  font-size: 24px;
  color: #333;
  margin-top: 20px;
}

